/* Estilos para o AppBar */
.appBar.MuiAppBar-root {
    background-color: #77434f;
}

/* Estilos para os botões dentro do AppBar */
.topbarButton {
    color: white; /* Cor do texto */
}

/* Estilos para o título (nome do usuário) */
.topbarTitle {
    font-weight: bold; /* Negrito para o título */
    color: #FFF; /* Cor do texto */
}
